@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your Superhero Database</h1>
    <p>Here is a complimentary picture of the best Superhero ever.</a>.</p>

    <a id="home"><img class="image_on" src="~/Images/Mark-Ruffalo-Bruce-Banner-birthday.jpg" alt="Banner"/>
    <img class="image_off" src="~/Images/avengers-endgame-smart-hulk-image.jpg" alt="Hulk"/></a>


    <a href="Superheroes/Create">Create New Supe</a>
    <a href="Superheroes/Index">See All Supes</a>
</div>
